body {
  background-color: rgb(245, 245, 245);
}

.site_name {
  font-family: 'Slabo 27px', serif;
  color: black;
  font-weight: 10px;
  margin: 0 auto;
  margin-top: 10%;
  font-size: 30px;
  text-align: center;
}


.copy_print {
  margin: 0 auto;
  color: rgb(89, 89, 89);
  margin-left: 31%;
  margin-right: 30%;
  font-size: 1.5em;
}

#hidden_div {
/*   margin-top: 25%;
  height: 500px; */
/*   font-family: 'Droid Sans', sans-serif;
  text-align: center;
  color: rgb(227, 1, 5);
  font-weight: bold; */
  height: 70%;
  width: 70%;
  display: none;
}
